<section class="clearfix" id="page-builder">
  <article>
    <%= render '/admin/pages/editor/forms' %>
  </article>
  <article>
    <%= render '/admin/pages/editor/main_container' %>
  </article>
</section>

