<div id="module-choosen" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <%= t '.modal_title_insert_column' %>
        </h4>
      </div>
      <div class="modal-body">
        <%= render "admin/pages/editor/modules/module_#{module_choosen}" %>
      </div>
    </div>
  </div>
</div>
