@import "variables";

html {
  font-size: 62.5%;
}

body{
  background-color: #F4F5F7;
}

ul,
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p{
  margin: 0;
}

input,
select,
textarea,
button,
a {
  &:active,
  &:focus{
    outline: none!important;
  }
}

textarea{
  resize: none;
}

.container{
  max-width:128rem;
  width:100%;
}

.white-content{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: .4rem;
  padding: 2.5rem 2em;
}

.page{
  float:right;
}