@import "variables";

.fr-toolbar.fr-top {
  border-top-color: $darkpurple;
  .fr-hs {
    display: none;
  }
  .fr-popup {
    border-color: #555;
    .fr-arrow {
      border-bottom-color: #555;
    }
    .fr-input-line input[type=text]:focus,
    .fr-popup .fr-input-line textarea:focus {
      border-color: $aqua;
    }
    .fr-colors-tab {
      &.fr-selected-tab,
      &:hover{
        color: #222;
      }
      &[data-param1='background']:after {
        background-color: $aqua;
      }
    }
    .fr-submit {
      color: #555;
    }
  }
  button {
    &[data-cmd='subscript'],
    &[data-cmd='superscript'],
    &[data-cmd='insertHR'],
    &[data-cmd='clearFormatting'],
    &[data-cmd='selectAll']{
      display:none;
    }
    &.fr-active {
      color: $aqua;
    }
  }
}
.fr-wrapper {
  min-height: 15rem;
  margin-bottom: 2rem;
}