@import "variables.css.scss";

.active-loader{
  .page-loader {
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 45vh;
    > .line {
      background-color: $pink;
      width: .4rem;
      height: 5rem;
      text-align: center;
      display: inline-block;
      animation: stretch 1.2s infinite ease-in-out;
      &.two {
        animation-delay:  -1.1s;
      }
      &.three {
        animation-delay:  -1.0s;
      }
      &.four {
        animation-delay:  -0.9s;
      }
      &.five {
        animation-delay:  -0.8s;
      }
    }
  }

  @keyframes stretch {
    0%, 40%, 100% { transform: scaleY(0.4); }
    20% {transform: scaleY(1.0);}
  }
}
