@import "variables";

html {
  font-size: 62.5%;
}

body{
  background-color: #F4F5F7;
}

ul,
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
p{
  margin: 0;
}

input,
select,
textarea,
button,
a {
  &:active,
  &:focus{
    outline: none!important;
  }
}

a {
  text-decoration: none!important;
}

textarea{
  resize: none;
}

.hidden{
  display: none;
}

.relative{
  position: relative;
}

.container{
  max-width:128rem;
  width:100%;
}

.white-content{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: .4rem;
  padding: 2.5rem 2em;
}

.page{
  float:right;
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: .1rem solid #dfe8f1;
  box-shadow: inset 1px 1px 3px #f6f6f6;
  -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
  -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
  &.avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  &.form-file{
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
  }
  img{
    width: 100%;
    height: 100%;
    max-width: inherit;
  }
}