@import "variables";

html {
  font-size: 62.5%;
}

body{
  background-color: #F4F5F7;
  font-family: 'Open Sans';
  overflow-x:hidden;
}

ul,
ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p{
  margin: 0;
}

input,
select,
textarea,
button,
a {
  &:active,
  &:focus{
    outline: none!important;
  }
}

a {
  text-decoration: none!important;
}

img {
  display: block;
  max-width: 100%;
}

textarea{
  resize: none;
}

.hidden{
  display: none;
}

.relative{
  position: relative;
}

.container{
  max-width:128rem;
  width:100%;
}

.white-content{
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: .4rem;
  padding: 2.5rem 2em;
  h2{
    font-weight: 400;
    font-size: 1.5rem;
    border-bottom: .1rem solid #F7F7F7;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
  }
}

.page{
  float:right;
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: .1rem solid #dfe8f1;
  box-shadow: inset 1px 1px 3px #f6f6f6;
  -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
  -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
  &.avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }
  &.avatar-thumbnail{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
  &.form-file{
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
  }
  img{
    width: 100%;
    height: 100%;
    max-width: inherit;
  }
}

.total {
  width: 100%;
}

@media only screen and (max-width : 630px) {
  .hide-630 {
    display: none;
  }
  .center-630 {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}