@import "variables";

#browser-preview{
  .page-title{
    color: #1a0dab;
    font-size: 1.8rem;
  }
  .page-url{
    span{
      display: block;
      float: left;
      color: #006621;
      font-size: 1.4rem;
    }
  }
  .page-description{
    color: #545454;
    font-size: 1.2rem;
    clear: both;
  }
}

.chars-count{
  font-size: 1.1rem;
  &.error{
    color: $pink;
  }
}

#page-builder{
  > article {
    margin-top: 6rem;
    &:first-child {
      width: 30rem;
      float: left;
      background-color: #3a3948;
      min-height: 100.5vh;
      .main-form{
        input[type="text"],
        textarea{
          border-color: #5c5967;
          border-radius: .3rem;
          background-color: rgba(255,255,255,.9);
          box-shadow: inset 1px 1px 3px #9b97a9;
          -moz-box-shadow: inset 1px 1px 3px #9b97a9;
          -webkit-box-shadow: inset 1px 1px 3px #9b97a9;
          color: #666;
        }
        input[type="checkbox"] + label:before,
        input[type="checkbox"]:checked + label:before{
          border-color: #5c5967;
          background-color: rgba(255,255,255,.9);
          box-shadow: inset 1px 1px 3px #9b97a9;
          -moz-box-shadow: inset 1px 1px 3px #9b97a9;
          -webkit-box-shadow: inset 1px 1px 3px #9b97a9;
        }
        input[type="submit"]{
          margin-top: 2rem;
          width: 100%;
        }
        label{
          color: rgba(255,255,255,.9);
          font-weight: 400;
        }
      }
      .tab-content{
        padding:2rem 0;
      }
      .nav-tabs.nav-justified {
        > li {
          > a{
            border: 0 solid transparent;
            border-radius: 0;
            background-color: rgb(250, 249, 250);
            color: #555;
            font-weight: 300;
            font-size: 1.2rem;
          }
          &.active {
            a {
              background-color: #3a3948;
              color: rgba(255, 255, 255,.8);
            }
          }
        }
      }
    }
    &:last-child {
      width: calc(100% - 30rem);
      width: -moz-calc(100% - 30rem);
      width: -webkit-calc(100% - 30rem);
      box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      -webkit-box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      -moz-box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      border-left: .1rem solid rgba(158, 173, 195, .05);
      float: left;
    }
  }
}

