@import "variables";

#browser-preview{
  .page-title{
    color: #1a0dab;
    font-size: 1.8rem;
  }
  .page-url{
    span{
      display: block;
      float: left;
      color: #006621;
      font-size: 1.4rem;
    }
  }
  .page-description{
    color: #545454;
    font-size: 1.2rem;
    clear: both;
  }
}

.chars-count{
  font-size: 1.1rem;
  &.error{
    color: $pink;
  }
}

#page-builder{
  > article {
    margin-top: 6rem;
    &:first-child {
      width: 30rem;
      float: left;
      background-color: #3a3948;
      min-height: 100vh;
      .nav-tabs.nav-justified {
        > li {
          > a{
            border: 0 solid transparent;
            border-radius: 0;
            background-color: rgb(250, 249, 250);
            color: #555;
            font-weight: 300;
            font-size: 1.2rem;
          }
          &.active {
            a {
              background-color: #3a3948;
              color: rgba(255, 255, 255,.8);
            }
          }
        }
      }
    }
    &:last-child {
      width: calc(100% - 30rem);
      width: -moz-calc(100% - 30rem);
      width: -webkit-calc(100% - 30rem);
      box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      -webkit-box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      -moz-box-shadow: 0 1px 7px 2px rgba(135, 158, 171, .5);
      border-left: .1rem solid rgba(158, 173, 195, .05);
      float: left;
    }
  }
}