.margin-top-20{
  margin-top: 2rem;
}

.margin-top-24{
  margin-top: 2.4rem;
}

.margin-bot-20{
  margin-bottom: 2rem;
}

.padding-right-15{
  padding-right: 1.5rem;
}

.padding-left-30{
  padding-left: 3rem;
}

.no-padding-left{
  padding-left: 0!important;
}

.no-padding-right{
  padding-right: 0!important;
}