<ul id="columns-layout" data-url="<%= change_columns_layout_admin_page_url %>">
  <div class="row">
    <li class="col-md-4" data-layout="12">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="6,6">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="4,4,4">
      <div class="pattern clearfix"></div>
    </li>
  </div>
  <div class="row">
    <li class="col-md-4" data-layout="3,3,3,3">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="8,4">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="4,8">
      <div class="pattern clearfix"></div>
    </li>
  </div>
  <div class="row">
    <li class="col-md-4" data-layout="3,9">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="9,3">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="6,3,3">
      <div class="pattern clearfix"></div>
    </li>
  </div>
  <div class="row">
    <li class="col-md-4" data-layout="3,3,6">
      <div class="pattern clearfix"></div>
    </li>
    <li class="col-md-4" data-layout="3,6,3">
      <div class="pattern clearfix"></div>
    </li>
  </div>
</ul>