<div class="col-md-12">
  <%= label_tag :body_color %>
  <%= text_field_tag :body_color %>
</div>
<div class="col-md-12">
  <%= label_tag :container_width %>
  <%= text_field_tag :container_width %>
</div>

