<section class="clearfix main-container">
  <div class="container">
    <div class="module-container">
      <div class="row">
        <%= render partial: 'admin/pages/editor/module_container', locals: {column_width: '12' } %>
      </div>
    </div>
  </div>
</section>
