@import "../admin/variables";

#front-content{
  .main-container{
    cursor: pointer;
    padding: 2rem 0;
    position: relative;
    background-color: #fff;
    &:hover {
      .main-container-settings{
        filter: alpha(opacity=100);
        opacity: 1;
      }
    }
    .add-block {
      background-color: rgba(0,0,0,.05);
      position: absolute;
      bottom: -5.5rem;
      left: 0;
      width: 100%;
      padding: 1.5rem 0;
      font-size: 1.3rem;
      color:$grey;
      &:before{
        float:left;
        font-family: "Material Icons";
        content: "add_box";
        font-size: 2rem;
        margin-left:1.5rem;
      }
      &:hover{
        &:before{
          color:#4e6275;
        }
      }
      li {
        float: left;
        &:after{
          content: "|";
          position: relative;
          top: .43rem;
        }
        a {
          color:$grey;
          display: block;
          float: left;
          padding: .5rem .8rem .5rem 1rem;
          &:hover{
            color:#4e6275;
          }
        }
      }
    }
    .main-container-settings{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      border: .2rem dashed $amber;
      -webkit-transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      -ms-transition: opacity .2s ease-in-out;
      -o-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      opacity: 0;
      > div {
        position: relative;
        z-index: 200;
        top: -.2rem;
        right: -.2rem;
        background-color: $amber;
        border-bottom-left-radius: .2rem;
        > li {
          float: left;
          border-right: .1rem solid #fff;
          > a {
            display: block;
            color: #fff;
            padding: .5rem 1rem;
            i {
              font-size: 2rem;
              display: block;
            }
            &.edit-main-container {
              padding-top: .7rem;
              i {
                font-size: 1.8rem;
              }
            }
            &.duplicate-main-container {
              padding-top: .8rem;
              i {
                font-size: 1.7rem;
                position: relative;
                top: -.08rem;
              }
            }
            &.column-main-container {
              position: relative;
              top: .05rem;
            }
          }
        }
      }
    }
    .container{
      max-width: 128rem;
      width: inherit;
      .module-container{
        .no-module {
          border:.2rem solid $darkpurple;
          border-radius: .4rem;
          text-align: center;
          padding: .4rem 0 .8rem 0;
          color:$darkpurple;
          &:hover,
          &:active,
          &:focus {
            opacity:.7;
          }
          p {
            &:before {
              font-family: 'Material Icons';
              content: "add_box";
              font-size: 1.8rem;
              position: relative;
              top: .4rem;
            }
          }
        }
      }
    }
  }
}











