<header id="second-header">
  <div class="page">
      <div class="container">
        <i class="material-icons" id="burger-menu-open">menu</i>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </div>
  </div>
</header>